@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --body: #EAECEE;
  --header: #EAECEE;
  --header-links: #5D6D7E ;
  --header-btn-bg: #27AE60;
  --header-btn-text: #FDFEFE;
  --header-user-bg: #FDFEFE;
  --header-user-text: #34495E;
  --header-item-hover: #52BE80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--body);
}